.input-field input:focus + label {
    color: #ff9800  !important;
  }
  /* label underline focus color */
  .input-field input:focus {
    border-bottom: 1px solid #ff9800  !important;
    box-shadow: 0 1px 0 0 #ff9800  !important;
  }

  .input-field select:focus + label {
    color: #ff9800  !important;
  }

  .input-field select:focus {
    border-bottom: 1px solid #ff9800  !important;
    box-shadow: 0 1px 0 0 #ff9800  !important;
  }

  .materialize-textarea:focus + label {
    color: #ff9800  !important;
} 

.materialize-textarea:focus {
    border-bottom: 1px solid #ff9800  !important;
    box-shadow: 0 1px 0 0 #ff9800  !important;
}